<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>
  <!-- No-Operation token : 타임리프 동작이 적용되지 않을 경우 태그 내부의 프로토타입 텍스트로 태그를 완성한다 -->
  <span id="eventsTitle" data-th-text="'이벤트 리스트 조회' ?: _">This is events page.</span>
</p>
<table id="eventsTable">
  <thead>
    <tr>
      <th>장소 ID</th>
      <th>이벤트명</th>
      <th>이벤트 상태</th>
      <th>시작 일시</th>
      <th>종료 일시</th>
      <th>현재 인원</th>
      <th>최대 수용 인원</th>
      <th>상세</th>
    </tr>
  </thead>
  <!-- 타임리프 정상 작동하면 첫번째 것만 남기고 삭제한다. >> 동작하지 않을 경우 목업 코드를 표출할 수 있음 -->
  <tbody data-th-remove="all-but-first">
    <tr data-th-each="event : ${events}">
      <td class="placeId" data-th-text="${event.placeId}">1</td>
      <td class="eventName" data-th-text="${event.eventName}">테스트 이벤트</td>
      <td class="eventStatus" data-th-text="${event.eventStatus}">OPENED</td>
      <td class="eventStartDateTime" data-th-text="${event.eventStartDateTime}">2022-08-31 09:00:00</td>
      <td class="eventEndDateTime" data-th-text="${event.eventEndDateTime}">2022-08-31 18:00:00</td>
      <td class="currentNumberOfPeople" data-th-text="${event.currentNumberOfPeople}">0</td>
      <td class="capacity" data-th-text="${event.capacity}">24</td>
      <td><a>상세</a></td>
    </tr>
    <tr>
      <td class="placeId">1</td>
      <td class="eventName">테스트 이벤트</td>
      <td class="eventStatus">OPENED</td>
      <td class="eventStartDateTime">2022-08-31 09:00:00</td>
      <td class="eventEndDateTime">2022-08-31 18:00:00</td>
      <td class="currentNumberOfPeople">0</td>
      <td class="capacity">24</td>
      <td><a>상세</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>